//-----COLORS BACKGROUND------
$whitePrimary: #ffffff;
$whiteSecondary:	#f7f8fa;
$orangeDark: #be5a0e;
$greenLight:	#0f7c90;
$blackPrimary: #000000b3;
$blackSecondary: #1d1b1b;
$red: #b32b2b;

// -----TEXT COLORS------
$txtOrangeDark:	#be5a0e;
//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//------PADDING--------
$pd1: 5px;
$pd2: 10px;
$pd3: 15px;
$pd4: 20px;
$pd5: 25px;
$pd6: 30px;

//------MARGIN--------

//------BREAK POINT--------
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//-------FONT SIZE-------
$body1: 12px;
$body2: 1rem;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3: 30px;
$h2: 40px;
$h1: 44px;