.scroll__to__top{
    .backToTopButton{
        position: fixed;
        z-index: 10;
        right: 30px;
        bottom: 110px;
        border: 1px solid $blackSecondary;
        border-radius: 50%;
        background-color: $blackSecondary;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 30px;
        img{
            margin-top: 5px;
            width: 30px;
            height: 30px;   
        }
    }
}